In [16]:
import pandas as pd
df = pd.read_csv("/Users/shridharmankar/job.csv")
df.head(20)

    Years  result
0      22       0
1      25       0
2      47       1
3      52       0
4      46       1
5      56       1
6      55       0
7      60       1
8      62       1
9      61       1
10     18       0
11     28       0
12     27       0
13     29       0
14     49       1
15     55       1
16     25       1
17     58       1
18     19       0
19     18       0

In [2]:
x=df[['Years']]
y=df['result']

In [3]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y,train_size=0.8,random_state=1)

In [4]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [5]:
model.fit(X_train, y_train)

LogisticRegression()

In [6]:
print(X_test)

    Years
17     58
14     49
18     19
3      52
23     45
10     18

In [7]:
y_predicted = model.predict(X_test)
y_predicted

array([1, 1, 0, 1, 1, 0])

In [8]:
model.score(X_test,y_test)

0.8333333333333334