In [1]:
list1 = [1,2,3,4,5]
list2 = ['one','two','three']

In [2]:
print(type(list1))
print(type(list2))

<class 'list'>
<class 'list'>

In [3]:
list1[0]

1

In [4]:
list2[1]

'two'

In [5]:
list1[-1]

5

In [6]:
list1[-2]

4

In [7]:
list1.append(6)
list1

[1, 2, 3, 4, 5, 6]

In [8]:
list1[3] = 7
list1

[1, 2, 3, 7, 5, 6]

In [9]:
list1.insert(0,10)
list1

[10, 1, 2, 3, 7, 5, 6]

In [10]:
list1.remove(10)
list1

[1, 2, 3, 7, 5, 6]

In [11]:
del list1

In [12]:
list1

NameError: name 'list1' is not defined

In [13]:
list2.clear()
list2

[]

In [14]:
list3 = [1,1,1,1,1]
list3

[1, 1, 1, 1, 1]

In [15]:
tuple1 = (1,2,3,4,5)
tuple2 = ('one','two',"three","four")

In [16]:
print(type(tuple1))
print(type(tuple2))

<class 'tuple'>
<class 'tuple'>

In [17]:
tuple6 = (1,1,1,1,1,1,1,1,1,1,1)
tuple6

(1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1)

In [18]:
tuple1[0]

1

In [19]:
tuple1[-1]

5

In [20]:
tuplelist = list(tuple2)
tuplelist.append("five")
tuple2 = tuple(tuplelist)
tuple2

('one', 'two', 'three', 'four', 'five')

In [21]:
tuplelist = list(tuple2)
tuplelist.remove("five")
tuple2 = tuple(tuplelist)
tuple2

('one', 'two', 'three', 'four')

In [22]:
tuple2.append("five")

AttributeError: 'tuple' object has no attribute 'append'

In [23]:
del tuple2

In [24]:
tuple2

NameError: name 'tuple2' is not defined

In [25]:
set1 = {1,2,3,4,5}
set2 = {'shridhar',"mankar",'ds',"course"}

In [26]:
print(type(set1))
print(type(set2))

<class 'set'>
<class 'set'>

In [27]:
set4 = set((5, True, 'yes', "no"))

In [28]:
set4

{5, True, 'no', 'yes'}

In [29]:
set4[0]

TypeError: 'set' object is not subscriptable

In [30]:
sett = {1,1,2,2,3,3,4,4,5,5}
sett

{1, 2, 3, 4, 5}

In [31]:
set4.add(False)
set4

{5, False, True, 'no', 'yes'}

In [32]:
set4.remove(5)
set4

{False, True, 'no', 'yes'}

In [33]:
set5 = set4.union(set1)
set5

{2, 3, 4, 5, False, True, 'no', 'yes'}

In [34]:
settt = {0,False}
settt

{0}

In [35]:
set10 = {True}
set11 = {1}
set12 = set10.union(set11)
set12

{True}

In [36]:
del set12
set12

NameError: name 'set12' is not defined